.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.8;
    background: linear-gradient(135deg, #ff5757, #ffdab9, #b3e6ff);
}
    
.circle1 {
    width: 110px;
    height: 110px;
    top: 150px;
    left: 20px;
}
    
.circle2 {
    width: 250px;
    height: 250px;
    bottom: 20px;
    left: 40px;
}
  
.circle3 {
    width: 180px;
    height: 180px;
    bottom: 30px;
    right: 30px;
}
    
.circle4 {
    width: 400px;
    height: 400px;
    right: 400px;
}
  
.logo1 {
    padding-left: 4%;
    z-index: 3;
}
  
.logo2 {
    padding-right: 4%;
    z-index: 3;
}
  
.navi {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}
  
.navi img {
    max-height: 70px;
}
  
.navi ul {
    font-size: 16px;
}
  
.glass {
    background: rgba(53, 52, 52, 0.158);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 50px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    margin-right: 80px;
}
  
  
body {
    background-color: #1b1b1b;
    color: white;
}


.contact .row {
    margin-bottom: 30px;
    margin-left: 10%;
    margin-top: 5%;
} 
    